body {
	background-color:#C6E2FF;
}

h1 {
	font-family:Arial;
	font-weight: bold;2
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color:#0099FF;
	float:center;
}

h2 {
	font-family:Arial;
	font-weight: bold;2
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color:#0099FF;
	float:center;
}

p {
	font-family: Tahoma;
	font-size: 1em;
	color:#0099FF;
}
